<a href="https://colab.research.google.com/github/mondalshubh20/Problem-solving-using-python/blob/main/Pyprac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Sum of N Natural **Numbers**

In [ ]:
nums=int(input("Enter the iteration:"))
sum=0
for i in range(1,nums+1):
  sum=sum+i
print(sum)

Enter the iteration:5
15

**Factorial of a Number**

In [ ]:
num=int(input("Enter the number:"))
fact=1
for i in range(1,num+1):
  fact*=i
print(fact)

Enter the number:5
120

**Multiplication Table**

In [ ]:
num=int(input("Enter the number:"))
for i in range(1,11):
  print(f"{num} * {i} = {num*i}")

Enter the number:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

**Fibonacci Series**

In [ ]:
n = int(input("Enter the number of terms: "))

# Start with the first two Fibonacci numbers
a = 0
b = 1

# Check if n is 1 or more to print the first number
if n >= 1:
    print(a, end=" ")

# Check if n is 2 or more to print the second number
if n >= 2:
    print(b, end=" ")

# For more than two terms, calculate the next terms in the series
for i in range(2, n):
    c = a + b  # Find the next number in the sequence
    print(c, end=" ")  # Print the next number
    a = b  # Move `a` to the next number
    b = c  # Move `b` to the next number

Enter the number of terms: 5
0 1 1 2 3

**Count Digits in a Number**

In [ ]:
num=int(input("Enter the number:"))
print(len(str((num))))

Enter the number:12
2

**Prime Numbers between Two Intervals**

In [ ]:
num= int(input("enter the number to check: "))
if num>0:
  for i in range(2,num):
    if num%i==0:
      print("not prime")
      break
  else:
    print("prime")
else:
  print("not prime")

enter the number to check: 3
prime

**Reverse a Number**

In [ ]:
num=int(input("enter the number:"))
print(int(str(num)[::-1]))

enter the number:125
521

In [ ]:
n=int(input())
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  print()

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n=int(input())
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for k in range(i+1):
    print("*",end=" ")
  print()

5
          *
        * *
      * * *
    * * * *
  * * * * *

**taking as string , converting to list of integers**

In [ ]:
n=input("Enter the numbers: ")
l=n.split()
int_l=[]
for i in l:
  int_l.append(int(i))
print(int_l)

Enter the numbers: 1 2 3 5 6
[1, 2, 3, 5, 6]

**Remove Duplicates: Use a loop to remove duplicate elements from a list without using sets.**

In [ ]:
num=eval(input("Enter the list: "))
new_list=[]
for i in num:
  if i not in new_list:
    new_list.append(i)
print(new_list)

Enter the list: [1,3,4,6,7,8,7,4]
[1, 3, 4, 6, 7, 8]

**Sum of digits**

In [ ]:
num=int(input(("enter the number: ")))
num_s= str(num)
sum=0
for i in num_s:
  sum+=int(i)
print(f'the sum of  digits is: {sum}')

enter the number: 68943
the sum of  digits is: 30

In [ ]:
arr=[1,3,5,7,8]
for i in range(len(arr)):
  print(i)

0
1
2
3
4

**Bubble** *sort*

In [ ]:
def bubble_sort(arr):
  size=len(arr)
  for i in range(size-1): # the numbber of times the the iteration goes on.
    for j in range(size-1):  #size-1 : comparing two elements at a time , when the iteratior in the last iteration if (size) then only one element left nothhing to compare with
      if arr[j]> arr[j+1]:
        temp=arr[j]
        arr[j]=arr[j+1]
        arr[j+1]=temp

arr = [5, 3, 8, 4, 2]
bubble_sort(arr)
print(arr)

[2, 3, 4, 5, 8]

*Rotate a list*

In [ ]:
def sum_s(arr):
  sum=0
  for i in arr:
    sum+=i
  return sum


arr=[1,2,3,4,5]
num= sum_s(arr)
print(num)

15

*Find Maximum among set of numbers*

In [ ]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )

x = int(input())
y = int(input())
z = int(input())
print(max_of_three(x,y,z))

In [ ]:
'''
Question 2 -
User Authentication System with Limited Login Attempts
Problem:
Design a user authentication system where a user has a maximum of 3 login attempts.
The system should prompt the user to input their username and password. If the credentials are correct, display a success message and exit the loop. If the credentials are incorrect, decrement the number of remaining attempts and inform the user. After 3 failed attempts, the system should lock the user out.

Requirements:

Use a while loop to allow the user to attempt login up to 3 times.
Use an if-else condition to check if the username and password are correct.
If the correct credentials are entered, break the loop and display a success message.
After 3 incorrect attempts, display a message indicating the account is locked.

Expected Output (sample):

Enter username: user123
Enter password: wrongpass
Incorrect credentials. You have 2 attempts remaining.

Enter username: user123
Enter password: wrongpass
Incorrect credentials. You have 1 attempt remaining.

Enter username: user123
Enter password: wrongpass
Account locked due to too many failed login attempts.

'''
username = 'user123'
password = 'pass123'
attempts = 3

while attempts > 0:
    ui_username = input("Enter username: ")
    ui_password = input("Enter password: ")

    if ui_username == username and ui_password == password:
        print("Login successful!")
        break
    else:
        attempts -= 1
        print(f"Incorrect credentials. You have {attempts} attempts remaining.")
        if attempts == 0:
            print("Account locked due to too many failed login attempts.")
            break

**You have an array containing n integers where the numbers are in the range 1 to n+1. There is exactly one number missing. Write a program to find the missing number using loops.**

In [ ]:
arr=eval(input("Enter the array: "))
for i in range (1,len(arr)+2):
  if i not in arr:
    print(i)

Enter the array: [1,4,6,8,10]
2
3
5

In [ ]:
'''
Question 3 :
Problem:
The Collatz Conjecture is a sequence that starts with any positive integer n.
Each subsequent term is obtained from the previous term as follows:

If the previous term is even, the next term is one half of the previous term.
If the previous term is odd, the next term is 3 times the previous term plus 1.
The conjecture is that no matter what value of n, the sequence will eventually reach 1.
Write a Python program that takes a positive integer n as input and prints the Collatz sequence starting from n until it reaches 1.

Requirements:

Use a while loop to generate and print the Collatz sequence.
Use if-else conditions to apply the Collatz rules.

Expected Output (sample):

Enter a positive integer: 6
6 -> 3 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1

Hint : Use print(n, end = '->') in the logic to get the output
'''

num = int(input("Enter a positive integer: "))

while num != 1:
    if num % 2 == 0:
        num = num // 2
    else:
        num = num * 3 + 1

    if num != 1:
        print(num, end='->')
    else:
        print(num)

Enter a positive integer: 6
3->10->5->16->8->4->2->1

***Recurssion***

In [ ]:
def fact(n):
  if n==1:
    return 1
  else:
    return n*fact(n-1)

fact(5)

120

In [ ]:
''' sum of first n natural numbers using reccursion '''
def sum(n):
  if n==1:
    return 1
  else:
    return n+sum(n-1)

In [ ]:
# calculate the total count of each letter in a string


_str= "maango"
d={}
for i in _str:
  if i in d:
    d[i]+=1
  else:
    d[i]=1
print(d)

{'m': 1, 'a': 2, 'n': 1, 'g': 1, 'o': 1}

In [ ]:
def even(num):
  for i in num:
    if i%2 !=0:
      num.remove(i)
  return num
num=[1,2,3,4,5,6,7,8,9]
even(num)

[2, 4, 6, 8]

In [ ]:
'''When we work on Data Science projects, we start with Data Cleaning i.e removing all rows where the features have NA/None values. This is done to achieve maximum accuracy from our prediction models. So, write a Python program to remove None value from a given list. (Using list comprehension)'''
nums = eval(input())
lst=[]
for i in nums:
  if i!=None:
    lst.append(i)
print(lst)

[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
'''Mr. Alberto wants to remove some numbers from the list of numbers to test his equation for numerical research. So, write a Python program to help him to remove all elements from a given list present in another list. (Using list comprehension)'''
list1 = eval(input())
list2 = eval(input())
lst=[]
for i in list1:
  if i not in list2:
    lst.append(i)
print(lst)

In [ ]:
''' Write a function to iterate over a list and mention the grade of the marks in the list'''
mark = eval(input())
def marks(mark):
  lst=[]
  for i in mark:
    if i>90:
      lst.append("A")
    elif i>80:
      lst.append("B")
    elif i>70:
      lst.append("C")
    else:
      lst.append("D")
  return lst
marks(mark)

[90,65,89,98]

['B', 'D', 'B', 'A']

In [ ]:
print([i.lower()for i in "HELLO"])

['h', 'e', 'l', 'l', 'o']

In [ ]:
# example of map()

lst=[1,2,3,4,5]
def square(x):
  return x**2
print(list(map(square,lst)))

#another example with lamda function

lst2=[6,7,8,9,10]
print(list(map(lambda x,y:x+y,lst,lst2)))


# example of list comprehension
lst3=[11,12,13,14,15]
print([i+2 for i in lst3])


#another example of example of list comprehension (hard)

lst4=[[1,2,3],[4,5,6],[7,8,9]]
print([j for i in lst4 for j in i])

'''
lst4 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = []

for sublist in lst4:
    for item in sublist:
        flattened_list.append(item)

print(flattened_list)''' # this is the demonstration of the above written code

[1, 4, 9, 16, 25]
[7, 9, 11, 13, 15]
[13, 14, 15, 16, 17]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
dict1={i:i**2 for i in range(1,11)if i%2==0}
print(dict1)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

We usually use ATM's to withdraw money from the bank, What logic they use in the ATMs. Let's crack this.

In [17]:
# Take inputs for the note denomination and withdrawal amount
n1 = int(input("Enter the denomination of Note 1: "))

# Ask if there is a second note denomination
use_second_note = input("Do you have a second note denomination? (yes/no): ").strip().lower()

if use_second_note == "yes":
    # Take input for the second note denomination if available
    n2 = int(input("Enter the denomination of Note 2: "))

withdraw = int(input("Enter the amount to withdraw: "))


# Check if the withdrawal amount is a multiple of 100
if withdraw % 100 == 0:
    # Calculate quotient and remainder for the first note
    quo = withdraw // n1
    rem = withdraw % n1

    # If thereâ€™s a remainder and a second note is available
    if use_second_note == "yes" and rem != 0:
        # Check if the remainder can be exactly divided by the second note
        if rem % n2 == 0:
            quo2 = rem // n2
            print(f"Withdrawn:\n{n1} rupee note x {quo}\n{n2} rupee note x {quo2}")
        else:
            print(f"The amount {withdraw} cannot be withdrawn exactly with {n1} and {n2} denominations. Please enter a different amount.")

    # If no second note and there's a remainder, notify the user
    elif rem != 0:
        print(f"The amount {withdraw} cannot be withdrawn exactly with only {n1} rupee notes. Please enter a different amount.")

    # If there is no remainder, it means the amount can be withdrawn with `n1` only
    else:
        print(f"Withdrawn:\n{n1} rupee note x {quo}")
else:
    print(f"The amount {withdraw} is not a multiple of 100. Please enter a valid amount.")

Enter the denomination of Note 1: 500
Do you have a second note denomination? (yes/no): yes
Enter the denomination of Note 2: 100
Enter the amount to withdraw: 2800
Withdrawn:
500 rupee note x 5
100 rupee note x 3

In [3]:
a=1600//500
a

3